/***********************************************************************
					GLOBAL CSS MODIFIERS
************************************************************************/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

body {
	width: 100%;
	margin: 0;
	padding: 0 0 0;
	font-size: 1.6rem;
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

h1, h2, h3, p {
	margin: 0;
	padding: 0;
	color: #643614;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.4rem;
}

#superwrap {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 6.5rem 0 0;
	position: relative;
	background-color: white;
}

/***********************************************************************
								NAV BAR
************************************************************************/
#navigation {
	width: 100%;
	max-width: 1280px;
	height: 6.5rem;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	overflow: hidden;
	background-color: white;
}

#brandwrap {
	width: 22rem;
	height: 5rem;
	margin: 1.7rem .7rem;
	padding: 0;
	float: left;
}


#brand {
	margin: 0;
	width: 100%;
	height: auto;
	max-height: 100%;
}

#topnav {
	margin: 0 1rem 0 0;
	padding: 0;
	list-style-type: none;
	float: right;
}

#topnav .navactive, .links:hover {
	color: white;
	background-color: #643614;
	box-shadow: 1px 1px 5px gray;
}

.links {
	height: 6.5rem;
	margin: 0 -.3rem;
	padding: 2.4rem 1rem; 
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	float: right;
	color: #6c431d;
	text-decoration: none;
}

#topnav li:not(:last-child) {
	display: none;
}

#more a {
	height: 6.5rem;
	margin: 0;
	padding: 2rem 0;
	font-size: 2.4rem;
	color: #6c431d;
	text-decoration: none;
	float: right;
}

/***********************************************************************
							SIDE NAVIGATION
************************************************************************/

#sidenavwrap {
	width: 25rem;
	height: 100%;
	min-height: 44rem;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	overflow-x: hidden;
	background-color: white;
	display: none;
	box-shadow: 2px 2px 5px black;
}

#sidenav {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#sidenav li a {
  	width: 100%;
  	height: 6.5rem;
  	padding: 2.3rem 0;
  	font-family: 'Montserrat', sans-serif;
  	font-weight: 300;
  	text-decoration: none;
  	font-size: 1.8rem; 
  	text-transform: uppercase;
  	color: #643614;
  	display: block;
  	border-bottom: 1px solid rgba(65, 32, 31, 0.5);
}

#sidenav li a:hover, #sidenav .navactive {
	color: white;
	background-color: #643614;
}

#sidepicwrap {
	width: 8rem;
	position: absolute;
	left: 50%;
	bottom: 0;
		-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

#sidepicwrap img {
	width: 100%;
	height: auto;
	max-height: 100%;
}
/***********************************************************************
						HOME PAGE - SLIDESHOW
************************************************************************/
#slideshow {
	max-width: 1280px;
	width: 100%;
	position: relative;
	margin: auto;
	background-color: rgba(65, 32, 31, 1.0);
}

.slides {
	width: 100%;
	height: 32rem;
	text-align: center;
}

.carouselpic {
	width: auto;
	height: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2.2rem;
  padding: 1.6rem;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  font-size: 1.2rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  background-color: rgba(0,0,0,0.4);
}

.text p {
	color: white;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #6c431d;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: white;
  border: 1px solid #6c431d;
}

#dots {
	text-align: center;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/***********************************************************************
						HOME PAGE - STORIES
************************************************************************/

#newsheaderwrap {
	margin: 1rem 2rem 0;
}

#newsheader {
	font-size: 3rem;
}

#mainwrapper {
	width: 90%;
	max-width: 1280px;
	height: auto;
	margin: 2rem auto;
	padding: 0;
}

.storyrow {
	width: 100%;
}

.story {
	width: 100%;
	margin: 3rem auto;
	border: 1px solid #ddd;
}

.imgwrap {
	height: 25rem;
	overflow: hidden;
}

.storyimg {
	width: 100%;
}

.storytext {
	margin: 1rem 0;
	padding: 0 .7rem;
	text-align: left;
}

.storytext p {
	font-size: 1.4rem;
}

/***********************************************************************
							ABOUT PAGE
************************************************************************/
#aboutwrapper {
	width: 90%;
	max-width: 1280px;
	height: auto;
	margin: 0 auto;
	padding: 0;
}

#aboutheaderwrap {
	width: 100%;
	margin: 1rem auto;
}

#chapterwrap {
	width: 100%;
	margin: 0;
	text-align: center;
}

#chapterwrap img {
	width: 100%;
	height: auto;
	max-height: 45rem;
	margin: 0;
	padding: 0;
}

#abouttext {
	margin: 0 0 3rem;
	font-size: 1.4rem;
}

/***********************************************************************
							SALUTING
************************************************************************/

#salutingwrapper {
	width: 90%;
	max-width: 1280px;
	height: auto;
	margin: 0 auto;
	padding: 0;
}

#salutingheaderwrap {
	width: 100%;
}

#salutingtext {
	width: 100%;
	margin: 1rem 0;
}

#videowrap {
	width: 100%;
	max-width: 60rem;
	height: auto;
	max-height: 40rem;
	margin: 3rem auto;
}

#gtvideo {
	position: relative;
	height: 0;
	padding-bottom: 75.0%;
}

#saluteframe {
	position: absolute;
	width: 100%;
	height: 100%;
	max-height: 40rem;
	left: 0;
}

#salutingpicswrap {
	width: 100%;
	margin: 3rem 0;
}

.salutingpic {
	width: 100%;
}

.salutingpic img {
	width: 100%;
	height: auto;
	max-height: 100%;
}

/***********************************************************************
								FOOTER
************************************************************************/

.footer {
	width: 100%;
	max-width: 1280px;
	margin: 0;
	padding: 0;
	background-color: rgba(81, 45, 30, 1.0);
}

.socialwrap {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.socialdiv {
	width: 70%;
	margin: 2rem auto;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
	display: flex;
	align-items: center;

}

.sociallink {
	width: 5rem;
	height: 5rem;
}

.sociallink img {
	width: 100%;
	height: auto;
	max-height: 100%;
}

.socialtext {
	display: inline-block;
}

.socialtext p {
	margin-left: 2rem;
	color: white;
}

#copyright > p {
	text-align: center;
	color: white;
}

/***********************************************************************
								MEDIA QUERIES
************************************************************************/
@media only screen and (min-width: 400px) {
	.imgwrap {
		height: 30rem;
	}

	.socialdiv {
		width: 55%;
	}

}

@media only screen and (min-width: 480px) {
	.slides {
		height: 40rem;
	}

	.imgwrap {
		height: 35rem;
	}

	.socialdiv {
		width: 55%;
	}

}

@media only screen and (min-width: 600px) {
	#newsheaderwrap {
		margin-left: 4.5rem;
	}

	.storyrow {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
		display: flex;
	}

	.text {
		font-size: 1.6rem;
	}

	.story {
		width: 33.3%;
		margin: 0 1rem;
		padding: 0;
		display: inline-block;
	}

	.imgwrap {
		width: 100%;
		height: auto;
		max-height: 15rem;
	}

	.socialwrap {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
		display: flex;
	}

	.socialdiv {
		width: 33.3%;
		margin: 2rem 0;
		display: block;
		text-align: center;
	}

	.sociallink {
		margin: auto;
	}

	.socialtext p {
		margin: 1rem 0 0;
	}

	#chapterwrap img {
		width: auto;
		height: 100%;
	}

	#abouttext p {
		font-size: 1.6rem;
	}

	#salutingpicswrap {
		overflow: hidden;
		background-color: white;
	}

	.salutingpic {
		width: 50%;
		padding: 0 .2rem;
		float: left;
	}
}

@media only screen and (min-width: 768px) {
	#topnav li:not(:last-child) {
		display: inline-block;
	}

	#more {
		display: none;
	}

	.slides {
		height: 45rem;
	}

	.imgwrap {
		max-height: 20rem;
	}

	#remove {
		display: none;
	}

	.salutingpic {
		width: 33.3%;
	}
}

@media only screen and (min-width: 960px) {
	.slides {
		height: 48rem;
	}

	.imgwrap {
		max-height: 25rem;
	}

	#chapterwrap img {
		max-height: 48rem;
	}

	.storytext p {
		font-size: 1.6rem;
	}

	#aboutheaderwrap {
		width: 85%;
	}

	#abouttext {
		width: 85%;
		margin: 0 auto 3rem;	
	}

	#salutingheaderwrap {
		width: 85%;
		margin: 0 auto;
	}

	#salutingtext {
		width: 85%;
		margin: 1rem auto;
	}
}

@media only screen and (min-width:1280px) {

	body {
		background-color: #643614;
	}

	#navigation {
		left: 50%;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
	}
}

@media only screen and (min-height: 1166px) {body {background-color: rgba(81, 45, 30, 1);}}
