/***********************************************************************
					GLOBAL CSS MODIFIERS
************************************************************************/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 0 0;
	font-size: 1.6rem;
}

h1, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
	color: #6c431d;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.4rem;
}

#superwrap {
	width: 100%;
	max-width: 1280px;
	min-height: 100%;
	margin: 0 auto;
	padding: 5.5rem 0 0;
	position: relative;
	background-color: white;
}

/***********************************************************************
								NAV BAR
************************************************************************/
#navigation {
	width: 100%;
	max-width: 1280px;
	height: 5.5rem;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	overflow: hidden;
	background-color: white;
}

#brandwrap {
	width: 20rem;
	height: 5rem;
	margin: 1.4rem .7rem;
	padding: 0;
	float: left;
}


#brand {
	margin: 0;
	width: 100%;
	height: auto;
	max-height: 100%;
}

#topnav {
	margin: 0 1rem 0 0;
	padding: 0;
	list-style-type: none;
	float: right;
}

.links {
	height: 4.5rem;
	margin: 0 1rem;
	padding: 1.9rem 0; 
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	font-weight: 300;
	text-transform: uppercase;
	float: right;
	color: #6c431d;
	text-decoration: none;
}

#topnav .navactive, .links:hover {
	border-bottom: 2px solid #6c431d;
	-webkit-transition: .1s ease;
	transition: .1s ease;
}

#topnav li:not(:last-child) {
	display: none;
}

#more a {
	height: 5.5rem;
	margin: 0;
	padding: 1.5rem 0;
	font-size: 2.4rem;
	color: #6c431d;
	text-decoration: none;
	float: right;
}

/***********************************************************************
							SIDE NAVIGATION
************************************************************************/

#sidenavwrap {
	width: 25rem;
	height: 100%;
	min-height: 44rem;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	overflow-x: hidden;
	background-color: white;
	display: none;
	box-shadow: 2px 2px 5px black;
}

#sidenav {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#sidenav li a {
  	width: 100%;
  	height: 5.5rem;
  	padding: 1.6rem 0;
  	font-family: 'Montserrat', sans-serif;
  	font-weight: 300;
  	text-decoration: none;
  	font-size: 1.8rem; 
  	text-transform: uppercase;
  	color: #6c431d;
  	display: block;
  	border-bottom: 1px solid rgba(65, 32, 31, 0.5);
}

#sidenav li a:hover, #sidenav .navactive {
	color: white;
	background-color: #6c431d;
	-webkit-transition: .25s ease;
	transition: .25s ease;
}

#sidepicwrap {
	width: 8rem;
	position: absolute;
	left: 50%;
	bottom: 0;
		-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

#sidepicwrap img {
	width: 100%;
	height: auto;
	max-height: 100%;
}
/***********************************************************************
						HOME PAGE - SLIDESHOW
************************************************************************
#slideshow {
	max-width: 1280px;
	width: 100%;
	position: relative;
	margin: auto;
	background-color: rgba(81, 45, 30, 1.0);
}

.slides {
	width: 100%;
	height: 32rem;
	text-align: center;
}

.carouselpic {
	width: auto;
	height: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2.2rem;
  padding: 1.6rem;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  font-size: 1.2rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  background-color: rgba(0,0,0,0.4);
}

.text p {
	color: white;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #6c431d;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: white;
  border: 1px solid #6c431d;
}

#dots {
	text-align: center;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
*/
/***********************************************************************
						HOME PAGE - GRID
************************************************************************/

#gridwrap {
	width: 95%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.gridbox {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.gridbox:hover .newsimg {
	-webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.newsimg {
	width: 100%;
	height: 100%;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	background-repeat: no-repeat;
	background-size: cover;
}

.caption {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(81, 45, 30, .6);
	z-index: 1;
}

.captiontext h2 {
	position: absolute;
	left: .5rem;
	bottom: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: white;
}

#mainnews {
	height: 18rem;
	margin: .5rem auto;
}

#mainnews .newsimg {
	background-image: url("newspics/nu.jpg");
	background-position: center;
}

#mainnews .captiontext h2 {
	width: 80%;
	font-size: 2rem;
}

.rowtwo {
	width: 49%;
	height: 10rem;
}

.rowtwo .captiontext h2 {
	font-size: 1.3rem;
}

#secondnews {
	float: left;
}

#secondnews .newsimg {
	background-image: url("newspics/montez.jpg");
	background-position: center top;
}

#secondnews .captiontext h2 {
	width: 100%;
}

#thirdnews {
	float: right;
}

#thirdnews .newsimg {
	background-image: url("newspics/NuLine.png");
	background-position: center bottom;
}

#thirdnews .captiontext h2 {
	width: 100%;
}

.rowthree {
	width: 32%;
	height: 10rem;
	margin: .5rem 0;
}

.rowthree .captiontext h2 {
	font-size: 1.2rem;
}

#fourthnews {
	float: left;
}

#fourthnews .newsimg {
	background-image: url("newspics/ricky.jpg");
	background-position: center center;
}

#fourthnews .captiontext h2 {
	width: 100%;
}

#fifthnews {
	margin-left: .6rem;
	float: left;
}

#fifthnews .newsimg {
	background-image: url("newspics/love.jpg");
	background-position: center top;
}

#fifthnews .captiontext h2 {
	width: 90%;
}

#sixthnews {
	float: right;
}

#sixthnews .newsimg {
	background-image: url("newspics/bustamante.jpg");
	background-position: center top;
}
#sixthnews .captiontext h2 {
	width: 100%;
}

/***********************************************************************
						HOME PAGE - STORIES
************************************************************************/

#newsheaderwrap {
	width: 95%;
	margin: 1rem auto;
}

#newsheader {
	width: 100%;
	text-align: center;
	border-bottom: 2px solid rgba(81, 45, 30, 1);
	line-height: .1;
}

#newsheader span {
	font-family: "Montserrat", sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	background-color: white;
	padding: 0 1rem;
}

#mainwrapper {
	width: 95%;
	max-width: 1280px;
	height: auto;
	margin: 2rem auto;
	padding: 0;
}

.storyrow {
	width: 100%;
}

.story {
	width: 100%;
	margin: 2rem auto;
	border: 1px solid #ddd;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.story:hover{
	box-shadow: 0 2px 8px 0 rgba(0, 128, 128, 0.4), 0 3px 10px 0 rgba(0, 128, 128, 0.4);
	-webkit-transition: .2s ease;
	transition: .2s ease;
}

.imgwrap {
	height: 25rem;
	overflow: hidden;
}

.storyimg {
	width: 100%;
}

.storytext {
	margin: 1rem 0;
	padding: 0 .7rem;
	text-align: left;
}

.storytext p {
	font-size: 1.4rem;
}

/***********************************************************************
							ABOUT PAGE
************************************************************************/
#aboutwrapper {
	width: 90%;
	max-width: 1280px;
	height: auto;
	margin: 0 auto;
	padding: 0;
}

#aboutheaderwrap {
	width: 100%;
	margin: 1rem auto;
}

#chapterwrap {
	width: 100%;
	margin: 0;
	text-align: center;
}

#chapterwrap img {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

#abouttext {
	margin: 0 0 3rem;
	font-size: 1.4rem;
}

/***********************************************************************
							SALUTING
************************************************************************/

#salutingwrapper {
	width: 90%;
	max-width: 1280px;
	height: auto;
	margin: 0 auto;
	padding: 0;
}

#salutingheaderwrap {
	width: 100%;
}

#salutingtext {
	width: 100%;
	margin: 1rem 0;
}

.videowrap {
	width: 100%;
	max-width: 60rem;
	height: auto;
	max-height: 40rem;
	margin: 3rem auto;
}

.gtvideo {
	position: relative;
	height: 0;
	padding-bottom: 75.0%;
}

.frame {
	position: absolute;
	width: 100%;
	height: 100%;
	max-height: 40rem;
	left: 0;
}

#salutingpicswrap {
	width: 100%;
	margin: 3rem 0;
}

.salutingpic {
	width: 100%;
}

.salutingpic img {
	width: 100%;
	height: auto;
	max-height: 100%;
}

/***********************************************************************
								LINEAGE
************************************************************************/

#linewrap {
	width: 90%;
	max-width: 1280px;
	height: auto;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

#lineheaderwrap {
	width: 100%;
	margin: 1rem 0 0 0;
}

.linethumb {
	margin: 2rem 0;
}

.linepic img {
	width: 100%;
	height: auto;
	max-height: 100%;
}

.linetext {
	margin: 0;
}

#legacywrap {
	margin: 2rem auto;
	text-align: center;
	clear: both;
}

/***********************************************************************
								INTERESTED
************************************************************************/
#interestwrapper {
	width: 90%;
	max-width: 1280px;
	height: auto;
	margin: 0 auto;
	padding: 0;
}

#requirements {
	width: 100%;
	margin: 1rem 0;
}

#introtext {
	margin: 1rem 0;
}

#interesttext {
	margin: 1rem 0;
}

#formwrapper {
	margin: 2rem auto;
	font-family: 'Open Sans', sans-serif;
}

.field {
	margin: 1rem 0;
}

label {
	font-weight: 300;
}

input {
	width: 100%;
	height: 3.2rem;
	margin: 0 auto;
	display: block;
	font-size: 1.4rem;
}

textarea {
	width: 100%;
	height: 15rem;
	margin: 0 auto;
	display: block;
	font-size: 1.4rem;
	resize: none;
}

button {
	width: 100%;
	height: 3.2rem;
	background-color: #a2662b;
	font-size: 1.4rem;
	color: white;
	border: none;
	cursor: pointer;
}

/***********************************************************************
								FOOTER
************************************************************************/

.footer {
	width: 100%;
	max-width: 1280px;
	height: 11.5rem;
	margin: 0;
	padding: 0;
	background-color: white;
	position: relative;
	bottom: 0;
}

.socialwrap {
	margin: 1rem auto;
	padding: 0;
	overflow: hidden;
	display: inline-block;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.sociallink {
	width: 4.5rem;
	height: 4.5rem;
	opacity: 0.8;
	display: inline-block;
	text-align: center;
}

.sociallink:hover {
	opacity: 1;
}

.sociallink img {
	width: 100%;
	height: auto;
	max-height: 100%;
}

.socialtext {
	display: inline-block;
}

.socialtext p {
	margin-left: 2rem;
	color: #6c431d;
}

#copyright > p {
	text-align: center;
	color: #6c431d;
}

#developer {
	font-size: 1rem;
}

#developer a {
	color: #6c431d;
}

/***********************************************************************
								MEDIA QUERIES
************************************************************************/
@media only screen and (min-width: 400px) {
	#mainnews {
		height: 20rem;
	}

	.rowtwo, .rowthree {
		height: 12rem;
	}

	#fifthnews {
		margin-left: .8rem;
	}

	.imgwrap {
		height: 30rem;
	}

	.socialdiv {
		width: 55%;
	}

}

@media only screen and (min-width: 480px) {
	#mainnews {
		height: 22rem;
		margin: .5rem auto 1rem;
	}

	.rowtwo, .rowthree {
		height: 14rem;
	}

	.rowthree {
		margin: 1rem 0;
	}

	#fifthnews {
		margin-left: 1rem;
	}

	.slides {
		height: 40rem;
	}

	.imgwrap {
		height: 35rem;
	}

	.socialdiv {
		width: 55%;
	}

}

@media only screen and (min-width: 600px) {
	#mainnews {
		height: 24rem;
	}

	.rowtwo, .rowthree {
		height: 15rem;
	}

	.rowtwo .captiontext h2 {
		font-size: 1.6rem;
	}

	.rowthree .captiontext h2 {
		font-size: 1.4rem;
	}

	#fifthnews {
		margin-left: 1.3rem;
	}

	.storyrow {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
		display: flex;
		margin: 2rem 0;
	}

	.text {
		font-size: 1.6rem;
	}

	.story {
		width: 33.3%;
		margin: 0 1rem;
		padding: 0;
		display: inline-block;
	}

	.imgwrap {
		width: 100%;
		height: auto;
		max-height: 15rem;
	}

	.socialdiv {
		margin: 2rem 0;
		display: inline-block;
		text-align: center;
	}

	.sociallink {
		margin: auto;
	}

	.socialtext p {
		margin: 1rem 0 0;
	}

	/*#chapterwrap img {
		width: auto;
		height: 45rem;
	}*/

	#abouttext p {
		font-size: 1.6rem;
	}

	#salutingpicswrap {
		overflow: hidden;
		background-color: white;
	}

	.salutingpic {
		width: 50%;
		padding: 0 .4rem;
		float: left;
	}
}

@media only screen and (min-width: 768px) {
	#topnav {
		margin: 0;
	}

	#topnav li:not(:last-child) {
		display: inline-block;
	}

	#more {
		display: none;
	}

	#mainnews {
		height: 27rem;
	}

	.rowtwo, .rowthree {
		height: 18rem;
	}

	#fifthnews {
		margin-left: 1.5rem;
	}

	.slides {
		height: 45rem;
	}

	.imgwrap {
		max-height: 20rem;
	}

	#salutingtext p {
		font-size: 1.6rem;
	}

	.linethumb {
		margin: 2rem auto;
		padding: 0 1rem;
		width: 50%;
		height: 35rem;
		float: left;
	}

	#nuline {
		height: 40rem;
	}

	.linetext p {
		line-height: 1;
	}

	#introtext p {
		font-size: 1.6rem;
	}

	#interesttext p {
		font-size: 1.6rem;
	}

	#formwrapper {
		width: 100%;
		margin: 0 auto;
	}

	input {
		height: 4.5rem;
		font-size: 2rem;
	}

	textarea {
		height: 22rem;
		font-size: 2rem;
	}

	button {
		height: 4rem;
		font-size: 1.6rem;
	}
}

@media only screen and (min-width: 800px) {
	.linethumb {
		height: 38rem;
	}

	#nuline {
		height: 45rem;
	}
}
@media only screen and (min-width: 900px) {
	#fifthnews {
		margin-left: 1.7rem;
	}
	.linethumb {
		height: 40rem;
	}

	#nuline {
		height: 47rem;
	}
}

@media only screen and (min-width: 960px) {
	#gridwrap {
		width: 95%;
		margin: 1rem auto;
	}

	#mainnews {
		width: 48%;
		height: 60rem;
		margin: 0;
		float: left;
	}

	#mainnews .captiontext h2 {
		width: 70%;
		font-size: 2.8rem;
	}

	#secondnews {
		width: 19%;
		height: 60rem;
		margin: 0 .5rem;
	}

	#secondnews .captiontext h2 {
		font-size: 2.2rem;
	}

	#thirdnews, .rowthree {
		width: 15.7%;
		height: 29.75rem;
		margin: 0;
	}

	#thirdnews .captiontext h2, .rowthree .captiontext h2 {
		font-size: 1.8rem;
	}

	#thirdnews {
		float: left;
	}

	#fourthnews, #sixthnews {
		float: right;
	}

	#fifthnews {
		margin-left: 0;
	}

	#fifthnews, #sixthnews {
		margin-top: .5rem;
	}

	#newsheaderwrap {
		margin: 2rem auto;
	}

	#mainwrapper {
		margin: 2rem auto;
	}

	.slides {
		height: 48rem;
	}

	.imgwrap {
		max-height: 25rem;
	}

	#chapterwrap {
		height: 100%;
	}

	#chapterwrap img {
		width: 100%;
		margin: -18% 0 0 0;
	}

	.storytext p {
		font-size: 1.6rem;
	}

	#aboutheaderwrap {
		width: 80%;
		margin: -14rem auto 0;
		padding: 1rem 1.5rem;
		background-color: white;
		position: relative;
	}

	#abouttext {
		width: 80%;
		margin: 0rem auto 3rem;
		padding: 1rem 1.5rem;
		background-color: white;
		position: relative;
	}

	#salutingheaderwrap {
		width: 90%;
		margin: 0 auto;
	}

	#salutingtext {
		width: 90%;
		margin: 1rem auto;
	}

	.salutingpic {
		width: 33.3%;
	}


	#remove {
		display: none;
	}

	.linethumb {
		width: 33.3%;
		height: 33rem;
	}

	#nuline {
		height: 38rem;
	}

	#requirements {
		width: 85%;
		margin: 2rem auto;
	}

	#introtext {
		width: 85%;
		margin: 2rem auto;
	}

	#interestheader {
		width: 85%;
		margin: 1rem auto;
	}

	#interesttext {
		width: 85%;
		margin: 1rem auto;
	}

	#takeswrap {
		width: 85%;
		margin: 2rem auto;
	}

	#formwrapper {
		width: 85%;
	}

	textarea {
		height: 28rem;
	}
}


@media only screen and (min-width:1100px) {
	#thirdnews, .rowthree {
		width: 15.85%;
	}

	.linethumb {
		height: 37rem;
	}

	#nuline {
		height: 43rem;
	}
}

@media only screen and (min-width:1280px) {

	body {
		background-color: white;
	}

	#navigation {
		left: 50%;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
	}
}

@media only screen and (min-width: 768px) and (min-height: 1122px) {
	body {
		background-color: white;
	}

	#salutingpicswrap {
		overflow: hidden;
		background-color: white;
	}

	.salutingpic {
		width: 50%;
		padding: 0 .4rem;
		float: left;
	}

	#remove {
		display: block;
	}
}
